<CENTER><H1> Titanic: Machine Learning from Disaster</H1></CENTER>

<div style="text-align:center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR3NxnAeVnTnpdRwARtXon0kX5NZaug5Pz6Uav4taXg5j8bKpOL" /></div>

<p1><b>The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.
    In this challenge, we build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).</b></p1>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score,classification_report

In [2]:
train_data = pd.read_csv("/home/rohit_psspl/Desktop/machine learning projects/titanic data/train.csv")
test_data = pd.read_csv("/home/rohit_psspl/Desktop/machine learning projects/titanic data/test.csv")

In [3]:
print(train_data.size)
print(test_data.size)

10692
4598

In [4]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

here we are checking how much data is null in our train_data and as we can see above output there are some data is missing in age, cabin, Embarked.so we can handle it by 5 different ways.
1. Deleting Rows
2. Replacing With Mean/Median/Mode
3. Assigning An Unique Category
4. Predicting The Missing Values
5. Using Algorithms Which Support Missing Values......[for more...](https://analyticsindiamag.com/5-ways-handle-missing-values-machine-learning-datasets/)

but, this is features is not important for us so i am just dropping this columns...

In [5]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
features = ['Pclass','Sex','SibSp','Parch']

In [8]:
x = pd.get_dummies(train_data[features])
z = pd.get_dummies(test_data[features])
y = train_data['Survived']

Converting categorical variable into dummy/indicator variables.

In [9]:
RF = RandomForestClassifier(n_estimators=100, max_depth=5,random_state=1)

SVM is a supervised machine learning algorithm which can be used for classification or regression problems. It uses a technique called the kernel trick to transform your data and then based on these transformations it finds an optimal boundary between the possible outputs.
![](https://miro.medium.com/max/1088/1*6U9NrruycDBsPOyivpn8UQ.png)

In [10]:
RF.fit(x,y)
print("Score : ",RF.score(x,y))

Score :  0.8159371492704826

In [11]:
prd = RF.predict(z)
Sub = pd.DataFrame({'PassId':test_data['PassengerId'],"predicted":prd})

In [12]:
Sub

     PassId  predicted
0       892          0
1       893          1
2       894          0
3       895          0
4       896          1
..      ...        ...
413    1305          0
414    1306          1
415    1307          0
416    1308          0
417    1309          0

[418 rows x 2 columns]

In [13]:
Sub.to_csv('Passsenger info',index=False)